@model System.Diagnostics.Process
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<p><b>Process Id:</b> @Model.Id</p>
<p><b>Process Name:</b> @Model.ProcessName</p>
<p><b>Handle:</b> @Model.HandleCount</p>

