
@{
    ViewBag.Title = "Index";
    var processes = ViewBag.Currentprocesses as System.Diagnostics.Process[];

}

<h2>Index</h2>

<ul>
    @foreach(var i in processes)
    {
        <li>@i.ProcessName</li>
    }
</ul>